.navbar {
    padding-left: 30px;
    box-shadow: 0px 0px 8px #000000;
}
.navbar-collapse {
    text-align: right;
}
.right-align-nav {
    text-align: right;
}
.logo {
    max-height: 40px;
    margin: 5px 0px;
}
#banner {
    xxbackground-color: #072702;
    color: white;
    background: 
     linear-gradient(
      rgba(7, 39, 2, 0.85), 
      rgba(7, 39, 2, 0.85)
    ),
    /* bottom, image */
    url(images/apex-1.jpg);
    background-size: cover;
    background-position: bottom;
}
.banner-image {
    background: url(images/godfrey.png);
    min-height: 300px;
}
.map {
    background: url(images/map.png);
    min-height: 300px;
    background-position: center;
}
.david-bio {
    background: url(images/godfrey.png);
    width:auto;
    height: 350px;
    padding: 100px;
}
.sandra-bio {
    background: url(images/sheckells.png);
    width:auto;
    height: 350px;
}
.banner-text {
    margin: 70px 0px;
    text-align: center;
}
#content-section {
    padding: 60px 0px;
}
.office-image {
    background: url(images/office.jpg);
    background-size: cover;
    min-height: 300px
}
.main-content {
    padding-bottom: 20px;
    text-align: center;
}
#awards-section {
    background-color: #f1f1f1;
    padding: 40px 0px;
    text-align: center;
}
#services-section {
    background-color: #FDF8F0;
    padding: 40px 0px;
}
#directions {
    background-color: #072702;
    color: white;
    font-weight: 200;
}
.directions-text {
    padding: 20px 30px;
    padding: 20px 30px;
}
#disclaimer {
    background-color: #252525;
    padding: 20px 0px;
    color: white;
}
#bio-section {
    padding: 40px 0px;
    padding: 50px;
    text-align: center;
}
body {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Lora', serif;
    font-size: 55px;
}
h2{
    font-family: 'Lora', serif;
    padding-bottom: 20px;
}
h3{
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #1d5a14;
}
h4{
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
.services-list ul{
    border-left: 1px solid #072702;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 0px;
}
.services-list li {
    list-style: none;    
    padding: 10px 0px;
    padding-left: 15px;
}
.service-card {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 8px #E5D8C2;
}
.award-card {
    background-color: white;
    text-align: center;
    padding: 40px 0px;
    height: 200px;
    box-shadow: 0px 0px 8px #D5D5D5;
    margin: 15px;
}
.award-one {
    background: url(images/godfrey.png);
}
.award-two {
    background: url(images/godfrey.png);
}
.award-three {
    background: url(images/godfrey.png);
}
.banner-bar {
    width: 80px;
    height: 5px;
    background-color: #AE8F60;
    margin: 20px auto;
    text-align: center;
}
.directions-bar {
    margin: 20px 0px;
    height: 3px;
}
.directions-title {
    font-family: 'Lora', serif;
    font-size: 32px; 
    font-weight: 300;
}
.bio-title {
    font-family: 'Lora', serif;
    font-size: 24px; 
    font-weight: 300;
    color: #072702;
    margin-top: 30px;
}
.bio-cta {
    color: #072702;
    font-weight:700;
    text-decoration: none;
    cursor: pointer;
}

.tagline {
    font-size: 18px;
}
.bio-email {
    font-size: 16px;
    font-weight: 200;
    padding-top: 10px;

}
.bio-cta:hover {
    color: #072702;
    font-weight:700;
}
.bio-icon {
    font-size: 36px;
    color: #AE8F60;
    margin-top: 15px;
        cursor: pointer;
}
.bio-text {
    text-align: left;
    margin-top: 40px;
    background: #f1f1f1;
    padding: 30px;
    display: none;
}
.bio-hide {
    font-weight: bold;
    padding-top: 10px;
    font-size: 14px;
    cursor: pointer;
}
.card-icon {
    font-size: 36px;
    margin-bottom: 10px;
    padding-top: 30px;
    color: #AE8F60;
}
.disclaimer-text {
    padding-top: 15px;
    font-size: 12px;
}
.hide-cta {
    display: none;
    font-weight: bold;
    padding-top: 10px;
    font-size: 14px;
    cursor: pointer;
}
.read-cta {
    font-weight: bold;
    padding-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

#card-two, #card-three, #card-four, #card-five, #card-six, #card-seven {
    display: none;
}

#li-one {
    border-left: 5px solid #1d5a14;
    cursor: pointer;
}
#li-border-left {
    border-left: 5px solid #1d5a14;
}

#li-two, #li-three, #li-four, #li-five, #li-six, #li-seven{
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .banner-text {
    margin: 50px 0px;
    }
    .services-list {
    display:none;
    }
    #card-two, #card-three, #card-four, #card-five, #card-six, #card-seven {
    display: block;
    }
    .service-card {
    background: #FDF8F0;
    box-shadow: none;
    }
    #services-section {
    padding: 0px;
    }
    #content-section {
    padding: 0px 0px 30px 0px;
    }
    .bio-icon {
    margin-bottom: 30px; 
    }
    .card-icon {
    color: black;
    }
    .david-bio {
    height: 200px;
    background-size: cover;
    }
    .sandra-bio {
    height: 200px;
    background-size: cover;
    }
}
